a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #2e333d;
}

h1 {
  font-size: 1.35rem;
}

h1 strong {
  display: block;
  font-weight: bold;
  font-size: 140%;
}

@media (min-width: 375px) {
  h1 {
    font-size: 1.9rem;
  }
  h1 strong {
    font-size: 160%;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h1 strong {
    font-size: 180%;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 375px) {
  h2 {
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1280px) {
  h2 {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 1.35rem;
  font-weight: bold;
}

@media (min-width: 375px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.85rem;
  }
}

p,
a,
li {
  font-size: 1rem;
}

@media (min-width: 375px) {
  p,
  a,
  li {
    font-size: 1.25rem;
  }
}

p {
  font-weight: 300;
  line-height: 130%;
}

p strong {
  font-weight: 700;
  color: #1672a4;
}

a {
  text-decoration: none;
  color: #2e333d;
}

.wrapper,
.header-wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}

h2 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

h2::before {
  content: "";
  width: 90%;
  height: 100%;
  background: #1672a4;
  opacity: 10%;
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 0;
}

nav .hamburger-menu {
  display: none;
}

.nav-bar {
  margin: 2rem 0 0 0;
}

.nav-bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .nav-bar .burger {
    display: none;
  }
}

.nav-bar .filler {
  visibility: hidden;
}

.nav-bar .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media (min-width: 768px) {
  .nav-bar .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-bar .main-nav a {
  padding: 0.25rem 0.75rem;
  margin: 0 0.4rem;
  font-size: 1.25rem;
  border-radius: 30px;
  position: relative;
}

.nav-bar .main-nav a:hover, .nav-bar .main-nav a:focus {
  background: #1672a4;
  color: #ffffff;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.nav-bar .main-nav a:hover::after, .nav-bar .main-nav a:focus::after {
  content: "";
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 3.5rem);
          transform: translate(-50%, 3.5rem);
  background-size: cover;
  background-position: center;
  border: 5px solid #1672a4;
  -webkit-animation: 0.15s ease-in-out preview forwards;
          animation: 0.15s ease-in-out preview forwards;
}

@-webkit-keyframes preview {
  0% {
    width: 9rem;
    height: 0.1rem;
    border-radius: 50%;
  }
  100% {
    width: 16rem;
    height: 9rem;
    border-radius: 20px;
  }
}

@keyframes preview {
  0% {
    width: 9rem;
    height: 0.1rem;
    border-radius: 50%;
  }
  100% {
    width: 16rem;
    height: 9rem;
    border-radius: 20px;
  }
}

.nav-bar .nav-home:focus::after, .nav-bar .nav-home:hover::after {
  background-image: url("../assets/home.png");
}

.nav-bar .nav-about::after {
  background-image: url("../assets/about.png");
}

.nav-bar .nav-projects::after {
  background-image: url("../assets/projects.png");
}

.nav-bar .nav-contact::after {
  background-image: url("../assets/contact.png");
}

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header .scroll {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  padding: 0 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: 5s infinite boing;
          animation: 5s infinite boing;
}

@-webkit-keyframes boing {
  0% {
    -webkit-transform: translate(-50%, -100%) scale(1);
            transform: translate(-50%, -100%) scale(1);
  }
  30% {
    -webkit-transform: translate(-50%, -100%) scale(1);
            transform: translate(-50%, -100%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -115%) scale(1.1);
            transform: translate(-50%, -115%) scale(1.1);
  }
  70% {
    -webkit-transform: translate(-50%, -100%) scale(1);
            transform: translate(-50%, -100%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -100%) scale(1);
            transform: translate(-50%, -100%) scale(1);
  }
}

@keyframes boing {
  0% {
    -webkit-transform: translate(-50%, -100%) scale(1);
            transform: translate(-50%, -100%) scale(1);
  }
  30% {
    -webkit-transform: translate(-50%, -100%) scale(1);
            transform: translate(-50%, -100%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -115%) scale(1.1);
            transform: translate(-50%, -115%) scale(1.1);
  }
  70% {
    -webkit-transform: translate(-50%, -100%) scale(1);
            transform: translate(-50%, -100%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -100%) scale(1);
            transform: translate(-50%, -100%) scale(1);
  }
}

.header .scroll i {
  padding: 0 0 0.5rem 0;
}

.header .scroll .fa-mouse {
  display: none;
}

@media (min-width: 768px) {
  .header .scroll .fa-mouse {
    display: block;
  }
  .header .scroll .fa-hand-pointer {
    display: none;
  }
}

.header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .header .header-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header .subtext {
  margin: 0.75rem 0;
  line-height: 150%;
}

.header .touch {
  padding: 0.25rem 0;
  font-weight: 500;
  color: #0c214a;
}

.header .email {
  color: #1672a4;
  text-decoration: underline;
}

.header .links {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .links a {
  color: #0c214a;
  font-size: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .links a:hover, .header .links a:focus {
  color: #1672a4;
}

@media (min-width: 768px) {
  .header .links a:hover::before, .header .links a:focus::before {
    content: "satv1r";
    background: #1672a4;
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(-105%, 0);
            transform: translate(-105%, 0);
    width: 0rem;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    -webkit-animation: 0.25s ease-out forwards unroll;
            animation: 0.25s ease-out forwards unroll;
  }
  @-webkit-keyframes unroll {
    0% {
      width: 0%;
    }
    100% {
      width: 7rem;
    }
  }
  @keyframes unroll {
    0% {
      width: 0%;
    }
    100% {
      width: 7rem;
    }
  }
}

.header .links a:focus {
  outline: 1px solid #0c214a;
}

.header .links a i {
  -webkit-animation: 0.25s roll-up;
          animation: 0.25s roll-up;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

@-webkit-keyframes roll-up {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes roll-up {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.header .links a i:hover {
  -webkit-animation: 0.25s forwards rolling;
          animation: 0.25s forwards rolling;
}

@-webkit-keyframes rolling {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rolling {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .header .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header .links li {
    margin: 1rem 0;
  }
}

@media (min-width: 768px) {
  .about-me {
    margin: 0 0 10rem 0;
  }
}

.about-me .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .about-me .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-me .wrapper .image,
  .about-me .wrapper .text {
    width: 35%;
  }
}

.about-me .image {
  width: 100%;
  padding: 1rem;
  position: relative;
}

.about-me .image::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  background-color: #1672a4;
  opacity: 10%;
}

.about-me .image img {
  position: relative;
  z-index: 1;
  width: 100%;
}

.about-me .image .vertical {
  height: 8px;
  width: 30%;
  background-color: #1672a4;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-me .image .horizontal {
  height: 30%;
  width: 8px;
  background-color: #1672a4;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-me .text {
  padding: 1rem;
  margin: 0 auto;
}

.about-me .text p {
  margin: 1rem 0;
}

.projects {
  min-height: 100vh;
  margin: 5rem 0;
  padding: 8rem 0 8rem 0;
  background-color: rgba(42, 164, 232, 0.1);
}

.projects h2 {
  margin: 0 0 6rem 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.projects .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .cards .laptop {
  display: none;
}

@media (min-width: 768px) {
  .projects .cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1280px) {
  .projects .cards .card-1,
  .projects .cards .card-4 {
    width: 60%;
    position: relative;
  }
  .projects .cards .small {
    display: none;
  }
  .projects .cards .laptop {
    display: block;
  }
  .projects .cards .card-2,
  .projects .cards .card-3 {
    width: 35%;
  }
}

.projects .card {
  width: 100%;
  margin: 1.25rem 0;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px #e3e3e3, -5px -5px 10px rgba(42, 164, 232, 0.1);
          box-shadow: 5px 5px 10px #e3e3e3, -5px -5px 10px rgba(42, 164, 232, 0.1);
  position: relative;
}

@media (min-width: 768px) {
  .projects .card {
    width: 47.5%;
  }
}

.projects a:hover, .projects a:focus {
  color: #1672a4;
}

.projects a:focus {
  outline: 1px solid #0c214a;
}

.projects .text {
  padding: 1.75rem;
}

.projects .text h3 {
  font-weight: 400;
  margin-right: 1rem;
}

.projects .text .card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .text .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .text .live-link {
  padding: 0 1rem;
}

.projects .text .tags {
  margin: 0.5rem 0;
  color: #1672a4;
}

.projects .text .github-repo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .image-wrapper {
  border: 8px solid #1672a4;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 15rem;
  overflow: hidden;
}

@media (min-width: 1000px) {
  .projects .image-wrapper {
    height: 20rem;
  }
}

.projects img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skills {
  padding-bottom: 3rem;
}

.skills h2 {
  margin: 6rem 0 5rem 0;
}

.skills .category {
  margin: 2rem 0;
  text-align: left;
}

.skills .category h3 {
  color: #1672a4;
  font-weight: 500;
}

.skills .category li {
  margin: 1rem 0;
  font-weight: 300;
}

@media (min-width: 768px) {
  .skills .category {
    width: 18%;
  }
}

.skills .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .skills .categories {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact {
  text-align: center;
  margin: 3rem 0 3rem 0;
}

@media (min-width: 768px) {
  .contact {
    margin: 5rem 0;
  }
}

.contact h2 {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact p {
  margin: 3rem 0 2.5rem 0;
}

.contact .header-container {
  width: 100%;
  text-align: center;
}

.contact a {
  font-size: 1.125rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding: 1rem 1.5rem;
  background: #1672a4;
  border-radius: 30px;
}

.contact a:hover {
  background: #0c214a;
}

footer {
  padding: 1rem 0;
  color: #ffffff;
  background: #1672a4;
}

footer .wrapper {
  text-align: center;
}

footer p {
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  nav .hamburger-menu {
    display: block;
  }
  .patty1,
  .patty2,
  .patty3 {
    width: 3rem;
    height: 0.15rem;
    background-color: #1672a4;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    z-index: 11;
  }
  .patty2 {
    top: 2.25rem;
  }
  .patty3 {
    top: 3rem;
  }
  nav .hamburger-menu input {
    position: absolute;
    width: 3rem;
    height: 3rem;
    opacity: 0;
    top: 1rem;
    right: 1rem;
    display: block;
    z-index: 12;
  }
  nav .hamburger-menu input:hover {
    cursor: pointer;
  }
  nav .hamburger-menu .menu {
    color: white;
    width: 100%;
    height: 100vh;
    position: absolute;
    margin: 0 auto;
    top: 0px;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    overflow: hidden;
  }
  nav .hamburger-menu .menu a {
    color: white;
  }
  nav .hamburger-menu .menu ul {
    position: relative;
    top: 200px;
    text-align: center;
    z-index: 10;
  }
  nav .hamburger-menu .menu li {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  nav .hamburger-menu input:focus {
    outline: 1px solid #1672a4;
  }
  nav .hamburger-menu input:checked ~ .menu {
    visibility: visible;
  }
  nav .hamburger-menu input:checked ~ .menu li {
    display: block;
  }
  nav .hamburger-menu input:checked ~ .burger .patty1 {
    -webkit-transition: ease 0.4s;
    transition: ease 0.4s;
    -webkit-transform: translateY(0.75rem) rotate(135deg);
            transform: translateY(0.75rem) rotate(135deg);
  }
  nav .hamburger-menu input:checked ~ .burger .patty2 {
    -webkit-transition: ease 0.4s;
    transition: ease 0.4s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  nav .hamburger-menu input:checked ~ .burger .patty3 {
    -webkit-transition: ease 0.4s;
    transition: ease 0.4s;
    -webkit-transform: translateY(-0.75rem) rotate(45deg);
            transform: translateY(-0.75rem) rotate(45deg);
  }
}
